.box {
  width: 14px;
  height: 13px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  position: relative;

  &-rect {
    @extend .box;
    width: 14px;
    border: 1px solid rgba(0, 0, 0, 1);
  }

  &-square {
    @extend .box;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(0, 0, 0, 1);
  }

  &-bold {
    @extend .box;
    width: 19px;
    height: 19px;
    border: 2px solid rgba(0, 0, 0, 1);
  }
  &-round {
    @extend .box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  &-horizontal {
    @extend .box;
    // visibility: hidden;
    width: 3rem;
    height: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 1);
    border-right: 0px;
  }
  &-presais {
    @extend .box;
    // visibility: hidden;
    width: 3rem;
    height: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 1);
    border-right: 0px;
  }
}

.checkbox {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;

  & > svg {
    display: none;
    position: absolute;
    height: 100%;
  }

  &-rect {
    @extend .checkbox;
    top: -5px !important;
  }

  &-square {
    @extend .checkbox;
    top: -7px !important;
  }

  &-bold {
    @extend .checkbox;
    top: -4px !important;
  }
  &-round {
    @extend .checkbox;
    border-radius: 100%;
    top: -6px !important;
  }
  &-horizontal {
    @extend .checkbox;
    border-radius: 100%;
    top: 0px !important;
  }
  &-presais {
    @extend .checkbox;
    border-radius: 100%;
    top: 0px !important;
  }
}

%common-checkmark {
  content: "\0058";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000;
}

.checkmark {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &::before {
    @extend %common-checkmark;
  }

  &-rect {
    @extend .checkmark;
    &::before {
      @extend %common-checkmark;
      transform: translate(-50%, -55%);
      font-size: 12px;
    }
  }

  &-square {
    @extend .checkmark;
  }

  &-bold {
    @extend .checkmark;
    &::before {
      @extend %common-checkmark;
      transform: translate(-50%, -55%);
      font-size: 15px;
    }
  }
  &-round {
    @extend .checkmark;
  }
  &-horizontal {
    @extend .checkmark;
    &::before {
      @extend %common-checkmark;
      transform: translate(-50%, -55%);
      font-size: 0px;
    }
    background: #0090ff;
  }
  &-presais {
    @extend .checkmark;
    &::before {
      @extend %common-checkmark;
      transform: translate(-50%, -55%);
      font-size: 0px;
    }
    background: gray;
  }
}
