.overflowing-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 50000;
}

.text-container {
  font-size: 9rem;
  font-weight: bold;
  white-space: nowrap;
  transform: translateY(-40%) translateX(10px);
  font-style: italic;
  user-select: none;
  z-index: 50000;

  animation-name: waving;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;

  background-image: linear-gradient(
    0deg,
    rgba(17, 28, 67, 0.2) 0%,
    rgba(17, 28, 67, 0.4) 20%,
    rgba(17, 28, 67, 0.6) 40%,
    rgba(17, 28, 67, 0.8) 60%,
    rgba(17, 28, 67, 1) 80%
  );

  padding-right: 20px;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 1300px) {
    font-size: 6rem;
    transform: translateY(-60%) translateX(10px);
  }
  @media (max-width: 1100px) {
    font-size: 5rem;
    transform: translateY(-100%) translateX(10px);
  }
  @media (max-width: 850px) {
    font-size: 4rem;
    transform: translateY(-100%) translateX(10px);
  }
  @media (max-width: 650px) {
    font-size: 3rem;
    transform: translateY(-200%) translateX(10px);
  }
  @media (max-width: 500px) {
    font-size: 2rem;
    transform: translateY(-200%) translateX(10px);
  }
  @media (max-width: 300px) {
    font-size: 1.5rem;
    transform: translateY(-200%) translateX(10px);
  }
}

@keyframes waving {
  0% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.2) 0%,
      rgba(17, 28, 67, 0.4) 20%,
      rgba(17, 28, 67, 0.6) 40%,
      rgba(17, 28, 67, 0.8) 60%,
      rgba(17, 28, 67, 1) 80%
    );
  }
  10% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.4) 0%,
      rgba(17, 28, 67, 0.6) 20%,
      rgba(17, 28, 67, 0.8) 40%,
      rgba(17, 28, 67, 1) 60%,
      rgba(17, 28, 67, 0.8) 80%
    );
  }
  20% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.6) 0%,
      rgba(17, 28, 67, 0.8) 20%,
      rgba(17, 28, 67, 1) 40%,
      rgba(17, 28, 67, 0.8) 60%,
      rgba(17, 28, 67, 0.6) 80%
    );
  }
  30% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.8) 0%,
      rgba(17, 28, 67, 1) 20%,
      rgba(17, 28, 67, 0.8) 40%,
      rgba(17, 28, 67, 0.6) 60%,
      rgba(17, 28, 67, 0.4) 80%
    );
  }
  40% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 1) 0%,
      rgba(17, 28, 67, 0.8) 20%,
      rgba(17, 28, 67, 0.6) 40%,
      rgba(17, 28, 67, 0.4) 60%,
      rgba(17, 28, 67, 0.2) 80%
    );
  }
  50% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.8) 0%,
      rgba(17, 28, 67, 0.6) 20%,
      rgba(17, 28, 67, 0.4) 40%,
      rgba(17, 28, 67, 0.2) 60%,
      rgba(17, 28, 67, 0.1) 80%
    );
  }
  60% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.6) 0%,
      rgba(17, 28, 67, 0.4) 20%,
      rgba(17, 28, 67, 0.2) 40%,
      rgba(17, 28, 67, 0.1) 60%,
      rgba(17, 28, 67, 0.2) 80%
    );
  }
  70% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.4) 0%,
      rgba(17, 28, 67, 0.2) 20%,
      rgba(17, 28, 67, 0.1) 40%,
      rgba(17, 28, 67, 0.2) 60%,
      rgba(17, 28, 67, 0.4) 80%
    );
  }
  80% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.2) 0%,
      rgba(17, 28, 67, 0.1) 20%,
      rgba(17, 28, 67, 0.2) 40%,
      rgba(17, 28, 67, 0.4) 60%,
      rgba(17, 28, 67, 0.6) 80%
    );
  }
  90% {
    background-image: linear-gradient(
      0deg,
      rgba(17, 28, 67, 0.1) 0%,
      rgba(17, 28, 67, 0.2) 20%,
      rgba(17, 28, 67, 0.4) 40%,
      rgba(17, 28, 67, 0.6) 60%,
      rgba(17, 28, 67, 0.8) 80%
    );
  }
}
