.modal {
  padding: auto !important;
}

.box-up {
  width: 400px !important;
  height: 100px !important;
  margin-top: 33vh !important;
  padding-top: 5px !important;
  border-radius: 8px !important;

  &-information {
    @extend .box-up;
    background-color: rgb(132, 90, 223) !important;
  }

  &-warning {
    @extend .box-up;
    background-color: rgb(245, 184, 73) !important;
  }
}

.box {
  width: 400px !important;
  height: fit-content !important;
  background-color: #fff !important;
  border-radius: 6px !important;
  display: flex !important;
  flex-direction: column !important;
}

.icon {
  width: 50px !important;
  height: 50px !important;
  align-self: center !important;
  margin-top: 60px !important;

  &-information {
    @extend .icon;
    color: rgb(132, 90, 223) !important;
  }

  &-warning {
    @extend .icon;
    color: rgb(245, 184, 73) !important;
  }
}

.title {
  font-family: "Inter", sans-serif !important;
  font-size: 1.25rem !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.text {
  font-family: "Inter", sans-serif !important;
  font-size: 0.8rem !important;
  color: #8c9097 !important;
  text-align: center !important;
}

.buttons {
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  margin-left: 130px;
}
