@import "consts/colors/colors";

.button {
  min-width: 0px !important;
  width: 100% !important;
  display: flex;
  height: 100%;
  margin: 0 !important;
  font-size: 0.85rem !important;
  color: #fff !important;
  text-align: center !important;

  &-primary#contained {
    @extend .button;
    background-color: $primary-color !important;
    border: 1px solid $primary-color !important;
    &:hover {
      background-color: rgba($primary-color, 0.9) !important;
      border: 1px solid rgba($primary-color, 0.9) !important;
    }
  }

  &-primary#outlined {
    @extend .button;
    color: $primary-color !important;
    background-color: transparent !important;
    border: 1px solid $primary-color !important;
    &:hover {
      color: #fff !important;
      background-color: $primary-color !important;
      border: 1px solid $primary-color !important;
    }
  }

  &-secondary#contained {
    @extend .button;
    background-color: $secondary-color !important;
    border: 1px solid $secondary-color !important;
    &:hover {
      background-color: rgba($secondary-color, 0.9) !important;
      border: 1px solid rgba($secondary-color, 0.9) !important;
    }
  }

  &-secondary#outlined {
    @extend .button;
    color: $secondary-color !important;
    background-color: transparent !important;
    border: 1px solid $secondary-color !important;
    &:hover {
      color: #fff !important;
      background-color: $secondary-color !important;
      border: 1px solid $secondary-color !important;
    }
  }

  &-success#contained {
    @extend .button;
    background-color: $success-color !important;
    border: 1px solid $success-color !important;
    &:hover {
      background-color: rgba($success-color, 0.9) !important;
      border: 1px solid rgba($success-color, 0.9) !important;
    }
  }

  &-success#outlined {
    @extend .button;
    color: $success-color !important;
    background-color: transparent !important;
    border: 1px solid $success-color !important;
    &:hover {
      color: #fff !important;
      background-color: $success-color !important;
      border: 1px solid $success-color !important;
    }
  }

  &-danger#contained {
    @extend .button;
    background-color: $danger-color !important;
    border: 1px solid $danger-color !important;
    &:hover {
      background-color: rgba($danger-color, 0.9) !important;
      border: 1px solid rgba($danger-color, 0.9) !important;
    }
  }

  &-danger#outlined {
    @extend .button;
    color: $danger-color !important;
    background-color: transparent !important;
    border: 1px solid $danger-color !important;
    &:hover {
      color: #fff !important;
      background-color: $danger-color !important;
      border: 1px solid $danger-color !important;
    }
  }

  &-warning#contained {
    @extend .button;
    background-color: $warning-color !important;
    border: 1px solid $warning-color !important;
    &:hover {
      background-color: rgba($warning-color, 0.9) !important;
      border: 1px solid rgba($warning-color, 0.9) !important;
    }
  }

  &-warning#outlined {
    @extend .button;
    color: $warning-color !important;
    background-color: transparent !important;
    border: 1px solid $warning-color !important;
    &:hover {
      color: #fff !important;
      background-color: $warning-color !important;
      border: 1px solid $warning-color !important;
    }
  }

  &-disabled {
    @extend .button;
    color: $disabled-color !important;
    border: none !important;
  }
}
