$primary-color: rgb(132, 90, 223);

$secondary-color: rgb(35, 183, 229);

$success-color: rgb(38, 191, 148);

$danger-color: rgb(227, 51, 51);

$warning-color: rgb(245, 184, 73);

$disabled-color: #c0c0c0;
