.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px !important;
  position: relative;

  &-hide {
    display: none;
  }
}

.label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 10px !important;
  color: rgb(50, 50, 50);
}

.input {
  box-sizing: border-box;
  height: 30px;
  padding: 6px 12px;
  font-size: 0.8rem;
  border-radius: 4px;
  border: 1px solid rgb(240, 240, 240);
  color: rgb(50, 50, 50);

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 0.8rem;
  }
  &::-webkit-input-placeholder {
    font-size: 0.8rem;
  }

  &-error {
    @extend .input;
    border: 1px solid red;
  }
}

.input-div {
  width: auto;
  display: inline-block;
  visibility: hidden;
  position: fixed;
  overflow: auto;

  box-sizing: border-box;
  font-size: 0.8rem;
  padding: 0px 12px;
}

.symbol {
  font-size: 0.8rem;
  color: rgb(50, 50, 50);
  position: absolute;
  top: 33px;

  &-no-label {
    @extend .symbol;
    top: 18px;
  }
}
