.input {
  &-bold {
    margin: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;

    &::after {
      border: none !important;
    }
    &::before {
      border: none !important;
    }

    & > input {
      font-family: "Inter";
      font-size: 0.8rem !important;
      font-weight: 700;
      padding: 0;
    }
  }

  &-doted {
    margin: 0 !important;

    border-bottom: 1px solid transparent;
    border-image: repeating-linear-gradient(to right, black, black 1px, transparent 0, transparent 3px) 1;
    border-image-slice: 1;

    & > input {
      font-family: "Inter";
      font-size: 0.7rem !important;
      font-weight: 400;
      padding: 0;
    }

    &::after {
      border: none !important;
    }
    &::before {
      border: none !important;
    }
  }

  &-free {
    margin: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;

    &::after {
      border: none !important;
    }
    &::before {
      border: none !important;
    }

    & > input {
      font-family: "Inter";
      font-size: 0.8rem !important;
      font-weight: 400;
      padding: 0;
    }
  }
}

.length-div {
  font-family: "Inter";
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 !important;
  width: fit-content;
  height: 0 !important;
  visibility: hidden;

  &-bold {
    @extend .length-div;
    font-size: 0.8rem;
    font-weight: 700;
  }

  &-doted {
    @extend .length-div;
    font-size: 0.7rem;
  }

  &-free {
    @extend .length-div;
  }
}
